In [ ]:
import pandas as pd

In [ ]:
dicionario_alunos = {
    'nome': ['Ted', 'Bia', 'Bob', 'Bill'],
    'idade': [20, 21, 18, 20],
    'curso': ['bio', 'bio', 'geo', 'geo']
}

df = pd.DataFrame(dicionario_alunos)

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.describe()

           idade
count   4.000000
mean   19.750000
std     1.258306
min    18.000000
25%    19.500000
50%    20.000000
75%    20.250000
max    21.000000

In [ ]:
df.describe(include='O')

       nome curso
count     4     4
unique    4     2
top     Ted   bio
freq      1     2

In [ ]:
type(df['idade'])

pandas.core.series.Series

In [ ]:
serie_curso = df['curso']

serie_curso.value_counts()

bio    2
geo    2
Name: curso, dtype: int64

In [ ]:
serie_idade = df['idade']

serie_idade.mean()

19.75

In [ ]:
df = pd.read_csv('/content/train.csv')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [ ]:
df['Survived'].value_counts(normalize=True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [ ]:
df.iloc[1:3, 5:11]

    Age  SibSp  Parch            Ticket     Fare Cabin
1  38.0      1      0          PC 17599  71.2833   C85
2  26.0      0      0  STON/O2. 3101282   7.9250   NaN

In [ ]:
fatia = df.loc[4:9, ['Age', 'Fare']]

In [ ]:
fatia['Fare'] = fatia['Fare'].map(lambda x: x/fatia['Fare'].max())

In [ ]:
fatia

    Age      Fare
4  35.0  0.155218
5   NaN  0.163091
6  54.0  1.000000
7   2.0  0.406363
8  27.0  0.214670
9  14.0  0.579818

In [ ]:
dicionario_alunos = {
    'nome': ['Ted', 'Bia', 'Bob', 'Bill'],
    'idade': [20, 21, 18, 20],
    'curso': ['bio', 'bio', 'geo', 'geo']
}

df = pd.DataFrame(dicionario_alunos)

In [ ]:
course_group = df.groupby(by=['curso']).agg({'idade': ['mean']})

In [ ]:
course_group.index

Index(['bio', 'geo'], dtype='object', name='curso')

In [ ]:
course_group.columns

MultiIndex([('idade', 'mean')],
           )

## **Exercícios**

In [ ]:
import pandas as pd
df = pd.read_csv('/content/train.csv')

In [ ]:
# Qual a porcentagem de passageiros sobreviveram ao titanic?

result = 100 * df['Survived'].value_counts(normalize=True)[1]
print(f'Porcentagem de sobreviventes: {result:.2f}%')

Porcentagem de sobreviventes: 38.38%

In [ ]:
# Qual a porcentagem de passageiros que viajaram de terceira classe?

result = 100 * df['Pclass'].value_counts(normalize=True)[3]
print(f'Porcetangem de passageiros na 3 classe: ')

Porcetangem de passageiros na 3 classe:

In [ ]:
# Quais as idades médias e medianas dos passageiros?

media = df['Age'].mean()
mediana = df['Age'].median()

print(f'Idade média: {media}\nMediana: {mediana}')

Idade média: 29.69911764705882
Mediana: 28.0

In [ ]:
# Quais valores das tarifas médias e medianas foram pagos pelos passageiros?

media = df['Fare'].mean()
mediana = df['Fare'].median()

print(f'Tarifa média: {media}\nMediana: {mediana}')

Tarifa média: 32.204207968574636
Mediana: 14.4542

In [ ]:
# Quais cabines mais frequentes nos dados e qual a frequência?

descricao = df['Cabin'].describe(include='O')
cabine = descricao['top']
frequencia = descricao['freq']

print(f'Cabines mais frequentes: {cabine}\nFrequência: {frequencia}')

Cabines mais frequentes: B96 B98
Frequência: 4

In [ ]:
# Quantos valores estão faltantes na coluna Cabin?

total = len(df['Cabin'])
nan = len(df['Cabin'].dropna())

print(f'Número de cabines faltantes: {total - nan}')

Número de cabines faltantes: 687

In [ ]:
# Sobreviveram mais mulheres ou homens?

sobreviveram = df[df['Survived'] == 1]
female = sobreviveram['Sex'].value_counts()['female']
male = sobreviveram['Sex'].value_counts()['male']

if female > male:
    print('Sobreviveram mais mulheres!')
elif male > female:
    print('Sobreviveram mais homens!')
else:
    print('O número de mulheres é igual ao número de homens!')

Sobreviveram mais mulheres!

In [ ]:
# Quais as porcentagens de sobreviventes em cada classe?1

sobreviveram = df[df['Survived'] == 1]
classes = sobreviveram['Pclass'].value_counts(normalize=True)
classe1 = 100 * classes[1]
classe2 = 100 * classes[2]
classe3 = 100 * classes[3]
print(f'PORCETAGEM DE SOBREVIVENTES\nPrimeira classe: {classe1:.2f}%\nSegunda classe: {classe2:.2f}%\nTerceira classe: {classe3:.2f}%')

PORCETAGEM DE SOBREVIVENTES
Primeira classe: 39.77%
Segunda classe: 25.44%
Terceira classe: 34.80%

In [ ]:
# Os nomes vem com os títulos. Qual é o título mais frequente e qual a frequência?

nomes = df['Name'].dropna()
fatiado = str(nomes).split()
titulos = []
for indice in range(0, len(fatiado) - 1):
    if fatiado[indice].find('.') != -1:
        titulos.append(fatiado[indice])
titulos = pd.Series(titulos)
contagem = titulos.describe()
print(f'O título mais frequente é "{contagem[2]}" com {contagem[3]} repetições.')

O título mais frequente é "Mr." com 4 repetições.

In [ ]:
# Qual a taxa de sobreviventes considerando apenas menores de 12 anos?

menores = df[df['Age'] < 12]
sobreviveram = menores[menores['Survived'] == 1]
resultado = 100 * (len(sobreviveram) / len(menores))
print(f'Sobreviveram {resultado}'resultado)

57.35294117647059